@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	height: 100vh;
}

[data-testid="flowbite-avatar-img"] {
	object-fit: cover;
}

[data-testid="footer-groupLink"] > li {
	margin: 0;
}

nav[aria-label="Sidebar"] {
	border: none;
	border-radius: 0;
}

nav[aria-label="Sidebar"] > div {
	background-size: cover;
	background-position: center;
	border-radius: 0;
}

nav[aria-label="Sidebar"].light > div {
	background-image: url("../sidebar-light.jpg");
	border-bottom: 2px solid #047481;
}

nav[aria-label="Sidebar"].dark > div {
	background-image: url("../sidebar-dark.jpg");
	border-bottom: 2px solid #374151;
}

[data-testid="flowbite-alert-wrapper"] > div {
	width: 100%;
}

[data-testid="flowbite-dropdown"].light,
[data-testid="modal-overlay"].light > div {
	background-image: url("../sidebar-light.jpg");
}

[data-testid="flowbite-dropdown"].dark,
[data-testid="modal-overlay"].dark > div {
	background-image: url("../bg3-dark.jpg");
}

[data-testid="flowbite-dropdown"],
[data-testid="modal-overlay"] > div {
	background-size: cover !important;
	background-position: center !important;
	border-radius: 0.5rem !important;
	padding: 0 !important;
	height: auto;
}

[data-testid="flowbite-dropdown"] > ul,
[data-testid="modal-overlay"] > div > div {
	background-color: transparent !important;
	border: 2px solid rgba(255, 255, 255, 0.2) !important;
	backdrop-filter: blur(4px) !important;
	border-radius: 0.5rem !important;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05) !important;
}

@media (min-width: 768px) {
	nav[aria-label="Sidebar"] > div {
		border-bottom: none !important;
		overflow: unset;
	}
	nav[aria-label="Sidebar"].light > div {
		border-right: 2px solid #047481;
	}

	nav[aria-label="Sidebar"].dark > div {
		border-right: 2px solid #374151;
	}

	[data-testid="flowbite-sidebar-items"] {
		background-color: transparent !important;
		border: 2px solid rgba(255, 255, 255, 0.2) !important;
		backdrop-filter: blur(9px) !important;
		border-radius: 0.5rem !important;
		box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05) !important;
		padding: 8px !important;
		margin: 5px 3px !important;
		position: sticky;
		top: 90px;
	}
}

@media (max-width: 768px) {
	[data-testid="flowbite-navbar-collapse"] > ul {
		background-color: transparent !important;
		border: 2px solid rgba(255, 255, 255, 0.2) !important;
		backdrop-filter: blur(4px) !important;
		border-radius: 0.5rem !important;
		box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05) !important;
		align-items: center !important;
	}

	[data-testid="flowbite-navbar-collapse"] > ul > a {
		width: 100%;
	}

	[data-testid="flowbite-navbar-collapse"] > ul > a > li > div {
		text-align: center;
		border-radius: 0.5rem;
	}

	[data-testid="flowbite-navbar-collapse"] > ul > a > li > div :active {
		background-color: #2f3339 !important;
	}
}

.ql-editor {
	font-size: 1.05rem !important;
}

.ql-editor.ql-blank::before {
	color: gray !important;
}

.header-search-form > div > div > div {
	z-index: 30;
}

form input {
	background-color: transparent !important;
	backdrop-filter: blur(4px) !important;
	border-radius: 0.5rem !important;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05) !important;
}

form.light input {
	border: 2px solid rgba(255, 255, 255, 0.6);
	color: #374151 !important;
}

form.dark input {
	border: 2px solid rgba(255, 255, 255, 0.4);
	color: aliceblue !important;
}

form textarea {
	background-color: transparent !important;
	backdrop-filter: blur(4px) !important;
	border-radius: 0.5rem !important;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05) !important;
}

form.light textarea {
	border: 2px solid rgba(255, 255, 255, 0.6);
	color: #374151 !important;
}

form.dark textarea {
	border: 2px solid rgba(255, 255, 255, 0.4);
	color: aliceblue !important;
}

.post-content p {
	margin-bottom: 0.7rem;
	text-align: justify;
}
.post-content span {
	margin-bottom: 0.7rem;
	text-align: justify;
}
.post-content h1 {
	font-size: 1.6rem;
	font-weight: 600;
	font-family: sans-serif;
	margin: 1.6rem 0;
}
.post-content h2 {
	font-size: 1.5rem;
	font-weight: 600;
	font-family: sans-serif;
	margin: 1.5rem 0;
}
.post-content h3 {
	font-size: 1.4rem;
	font-family: sans-serif;
	margin: 1.4rem 0;
}
.post-content h4 {
	font-size: 1.2rem;
	font-family: sans-serif;
	margin: 1.2rem 0;
}
.post-content a {
	color: rgb(59, 136, 187);
	text-decoration: none;
}
.dark .post-content a {
	color: rgb(49, 95, 126);
	text-decoration: none;
}
.post-content a:hover {
	text-decoration: underline;
}
.post-content code {
	background-color: aliceblue;
	border-radius: 0.5rem;
	padding: 0 0.3rem;
}
.dark .post-content code {
	color: #000;
}
.post-content pre {
	padding: 1rem;
	margin: 0.7rem 0;
	width: 100%;
}
.light .post-content pre {
	background-color: #000;
	color: azure;
}
.dark .post-content pre {
	background-color: rgb(202, 221, 238);
	color: #000;
}
@media (max-width: 1024px) {
	.post-content pre {
		display: none;
	}
}
